<!doctype html>
<html>
<head>
  <title>Addbook Page!</title>
</head>
<h1> This is Addbook Page </h1>
         <body>
         <p>Please fill related data to add the book to database </p>
         <form method="POST" action="/bookadded">
          <input type="text" name="name" value="Book Name">
          <input type="decimal" name ="price" value="Price">
          <input type="submit" value="Submit">
         </form>
      </body>

<a href='./'>Home</a>

<style>
body {
color: white;
background-color: #FF3333;
  }
</style>


   </html>
