<!doctype html>

    <title> Homepage!</title>

  </head>

  <h1> Home Page </h1>

  <body>

    <p>Homepage This is an example paragraph. Anything in the <strong>body</strong> tag will appear on the page, just like this <strong>p</strong> tag and its contents.</p>

  </body>
<a href='/login'>Login</a>

<a href='/register'>Register</a>

<a href='/addbook'>Add book</a>

<a href='/list'>List</a>

<a href='/search'>Search</a>

<a href='/logout'>Log Out</a>

<a href='/weatherform'>Weather</a>

<style>
body {
color: white;
background-color: #FF3333;
  }
</style>

</html>

