<!doctype html>
<html>
  <head>
    <title>List  webpage!</title>
  </head>
  <h1> This is List Page </h1>
          <body>
          <h3>You can see names and prices of all available books at our book shop here:</h3>
          <ul>
            <% availablebooks.forEach(function(book){ %>
            <li><%= book.name %>, £<%= book.price %></li>
            <% }) %>
 </ul>
</body>
<a href='./'>Home</a>

<style>
body {
color: white;
background-color: #FF3333;
  }
</style>

</html>
